/out/production/ColoredBows/me/joshwright/coloredbows/ColoredBows.class
/out/artifacts/ColoredBows_jar/ColoredBows.jar
/out/production/ColoredBows/me/joshwright/coloredbows/items/ItemManager.class
/out/production/ColoredBows/me/joshwright/coloredbows/JoinEvent.class
/out/production/ColoredBows/me/joshwright/coloredbows/plugin.yml
